:root {
  --dark-mode: #27173a;
  --gray: #737278;
  --light-gray: #f3f4f6;
  --lighter-gray: #f1f5f8;
  --black: #26252a;
  --white: #fff;
  --blue: #2563eb;
  --dark-blue: #1e40af;
  --light-blue: #60a5fa;
}
